<p>Nom: <input [(ngModel)]="Nom"/></p>
<p>Prenom : <input [(ngModel)]="Prenom"/></p>
<p>Adresse : <input [(ngModel)]="Adresse"/></p>
<p>CP: <input [(ngModel)]="CP"/></p>
<p>Ville: <input [(ngModel)]="Ville"/></p>
<p>Tel: <input [(ngModel)]="Tel"/></p>
<p>Email: <input [(ngModel)]="Email"/></p>
<p>Civilité: <input [(ngModel)]="Civilite"/></p>
<p>Login: <input [(ngModel)]="Login"/></p>
<p>Password : <input [(ngModel)]="Password"/></p>
<p>Pays: <input [(ngModel)]="Prenom"/></p>

<button (click)="afficher()">Valider</button>

<p>Recapitulatif</p>
<div>
    {{ NomAfficher }}
</div>